<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-50">
    <% if flash.any? %>
      <div class="fixed top-4 right-4 z-50">
        <% flash.each do |type, message| %>
          <div class="<%= flash_class(type) %> rounded-lg p-4 mb-2 shadow-lg">
            <%= message %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>